@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Inconsolata&family=Playfair+Display:wght@400;700&family=Ubuntu:wght@300;400&display=swap");
/* Гамбургер иконка */
.menu-btn {
  width: 30px;
  height: 30px;
  position: relative;
  z-index: 20;
  overflow: hidden;
}

.menu-btn span {
  width: 30px;
  height: 2px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #222222;
  transition: all 0.5s;
}

.menu-btn span:nth-of-type(2) {
  top: calc(50% - 5px);
}

.menu-btn span:nth-of-type(3) {
  top: calc(50% + 5px);
}

/* Меняем гамбургер иконку, когда меню открыто */
.menu-btn.active span:nth-of-type(1) {
  display: none;
}

.menu-btn.active span:nth-of-type(2) {
  top: 50%;
  transform: translate(-50%, 0%) rotate(45deg);
}

.menu-btn.active span:nth-of-type(3) {
  top: 50%;
  transform: translate(-50%, 0%) rotate(-45deg);
}

/* Меню, которое будет появляться */
@media screen and (max-width: 650px) {
  .menu {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    min-height: 70px;
    padding: 15px;
    background: #ffefba;
    transform: translateX(100%);
    transition: transform 0.5s;
    z-index: 2;
  }
}
.header .menu.active {
  transform: translateX(0);
  width: 100%;
  z-index: 2;
}
.header .menu.active ul {
  max-width: 90%;
  padding-top: 10px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  color: #626262;
}
a:hover {
  color: #b4ad9e;
}

body {
  font-family: "Playfair Display", serif;
  font-size: 14px;
  color: #626262;
  font-weight: 400;
}

.activ {
  font-size: 15px;
  transform: rotate3d(1, 1, 1, 10deg);
}

.sec,
.social {
  padding: 10px 0;
  transition: 0.5s;
}
.sec :hover,
.social :hover {
  font-size: 16px;
  color: #d5d2d2;
}
.sec a,
.social a {
  transition: 0.5s;
  padding: 7px;
  text-decoration: none;
}

.wrapper {
  max-width: 890px;
  margin: 0 auto;
}
@media screen and (max-width: 900px) {
  .wrapper {
    margin: 0 5px;
  }
}

a {
  text-decoration: none;
}

b {
  font-weight: 700;
}

.header {
  max-width: 1064px;
  margin: 68px auto 71px;
  display: flex;
  justify-content: space-between;
}
@media screen and (max-width: 1075px) {
  .header {
    margin: 68px 10px 71px;
  }
}
@media screen and (max-width: 650px) {
  .header {
    margin: 20px 15px;
  }
}
.header .logo {
  font-family: "Inconsolata", monospace;
  font-size: 30px;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  cursor: pointer;
}
.header .logo a {
  color: #000000;
}
@media screen and (max-width: 1075px) {
  .header .logo {
    width: 50%;
  }
}
.header .burger {
  display: none;
}
@media screen and (max-width: 650px) {
  .header .burger {
    display: block;
  }
}
.header .menu {
  width: 50%;
}
.header .menu ul {
  display: flex;
  justify-content: space-between;
  list-style: none;
  font-size: 14px;
  text-transform: uppercase;
}
@media screen and (max-width: 400px) {
  .header .menu ul {
    flex-direction: column;
    align-items: center;
  }
}
.header .menu ul li {
  cursor: pointer;
  transition: 0.5s;
}
.header .menu ul li:hover {
  font-size: 15px;
  transform: rotate3d(1, 1, 1, 10deg);
}
@media screen and (max-width: 400px) {
  .header .menu ul li {
    padding: 10px;
  }
}

.home_page {
  max-width: 1064px;
  margin: 0 auto;
}
.home_page img {
  width: 100%;
}
@media screen and (max-width: 1075px) {
  .home_page {
    margin: 0 5px;
  }
}

.photodiary_body {
  display: flex;
  justify-content: space-between;
}
@media screen and (max-width: 650px) {
  .photodiary_body {
    flex-direction: column;
  }
}

.photodiary {
  margin-top: 100px;
}
.photodiary .wrapper {
  max-width: 1064px;
  margin: 0 auto;
  padding-left: 50px;
  padding-right: 3px;
}
@media screen and (max-width: 650px) {
  .photodiary .wrapper {
    padding-left: 3px;
  }
}
.photodiary p {
  margin-top: 20px;
}
.photodiary i {
  padding: 20px 10px;
}
@media screen and (max-width: 650px) {
  .photodiary {
    margin-top: 30px;
  }
}

.post {
  line-height: 1.8;
}

.post_footer {
  padding: 40px 0 45px 0;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  flex-direction: row-reverse;
}

.block_name {
  font-family: "Ubuntu", sans-serif;
  font-size: 14px;
  font-weight: 300;
  text-transform: uppercase;
  color: #b4ad9e;
  margin: 27px 0 32px 0;
}

.title {
  font-size: 30px;
  margin-bottom: 33px;
}

.content img {
  width: 100%;
  margin: 20px 0;
}
.content .social {
  text-transform: uppercase;
}

.side_block {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  width: 250px;
  margin: 30px 0 50px 50px;
}
@media screen and (max-width: 650px) {
  .side_block {
    margin-top: 30px 3px 50px 3px;
  }
}
.side_block p {
  margin: 0;
}
.side_block img {
  width: 100%;
}
.side_block .title {
  font-size: 27px;
  margin: 15px 0;
}
.side_block .social a {
  color: rgb(193, 190, 172);
}
.side_block .social a:hover {
  font-size: 16px;
  color: rgb(135, 132, 120);
}
.side_block .top_post {
  margin: 50px 0 0 0;
}
.side_block .post_list {
  padding-left: 17px;
}
.side_block li {
  margin-bottom: 10px;
}
.side_block .post_comments {
  font-size: 11px;
  padding-top: 5px;
}
.side_block .baner {
  width: 250px;
  height: 250px;
  background: rgba(193, 190, 172, 0.6);
  text-align: center;
  color: #fff;
  font-size: 45px;
  line-height: 5.5;
  font-family: "Ubuntu", sans-serif;
  font-weight: 300;
}

.like {
  background-color: #f0f0f0;
  padding: 60px 0;
}
@media screen and (max-width: 650px) {
  .like {
    padding: 27px;
  }
}

.like_galery {
  display: flex;
  justify-content: space-between;
}
@media screen and (max-width: 650px) {
  .like_galery {
    flex-direction: column;
    align-items: center;
  }
}

.galery_item {
  padding: 30px;
  transition: 0.5s;
}
.galery_item:hover {
  transform: scale(1.1);
}
@media screen and (max-width: 800px) {
  .galery_item {
    padding: 10px;
  }
}
.galery_item:first-child {
  padding-left: 0;
}
.galery_item:last-child {
  padding-right: 0;
}
.galery_item img {
  width: 100%;
}

.item_description {
  font-size: 20px;
  margin: 10px 0;
}
@media screen and (max-width: 800px) {
  .item_description {
    font-size: 16px;
  }
}

.comment {
  display: flex;
  align-content: space-between;
}

.avatar_wrapper {
  position: relative;
  padding: 5px 25px 0 0;
}

.avatar {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background: rgba(29, 166, 185, 0.35);
  overflow: hidden;
  text-align: center;
  font-size: 35px;
  color: #fff;
  line-height: 2;
  text-transform: uppercase;
  font-family: "Ubuntu", sans-serif;
}
.avatar img {
  width: 100%;
}

.add_comment {
  display: flex;
}
.add_comment .avatar {
  background: #f0f0f0;
}
.add_comment input {
  width: 100%;
  padding: 0 0 0 30px;
  margin-top: 10px;
  height: 50px;
}
.add_comment input::-moz-placeholder {
  text-transform: uppercase;
  list-style-type: s;
}
.add_comment input:-ms-input-placeholder {
  text-transform: uppercase;
  list-style-type: s;
}
.add_comment input::placeholder {
  text-transform: uppercase;
  list-style-type: s;
}

.comment_footer {
  padding: 20px 0 45px 0;
}
.comment_footer .social,
.comment_footer a {
  color: #b4ad9e;
  transition: 0.5s;
}
.comment_footer .social:hover,
.comment_footer a:hover {
  color: #626262;
}

.footer {
  background-color: #f0f0f0;
}
.footer .footer_content {
  padding: 40px 0 45px 0;
  max-width: 980px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
@media screen and (max-width: 380px) {
  .footer .footer_content {
    flex-direction: column;
    align-items: center;
  }
}/*# sourceMappingURL=photodiary.css.map */